:root{
    --clr-primary: rgb(71, 170, 165);
    --clr-light: #fcf9f9;
    --clr-dark: rgb(12, 11, 11);
    --clr-warning: rgb(99, 36,36);
}
*,
*::before,
*::after{
    font-family: inherit;
    box-sizing: border-box;
}body{
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: var(--clr-primary);
    color: var(--clr-light);

    display: grid;
    grid:
       "header header header header" auto
       "...... list active ........" auto /
       1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
}

.title{
    grid-area: header;
    text-align: center;
    font-size: calc(7vw + 2rem);
    font-weight: 900;
    color: rgba(8, 4, 4, 0.1);
    letter-spacing: 1px;
    margin: -0.1em 0 0.2em;

}

.all-tasks{
    grid-area: lists;

}
.task-list{
    font-size: 1.2rem;
    line-height: 1.7;
    list-style: circle;
    padding-left: 1.1em;
}

.list-name{
   cursor: pointer; 
}

.list-name:hover{
    opacity: 0.7;
}

form{
    display: flex;
}

.btn{
    cursor: pointer;
    background: 0em;
    bottom: 0;
    padding: 0;
    color: inherit;
   
}

.btn.create{
    font-size: 2.5rem;    
    font-weight: 900;
    margin-right: 0.35em;
    transition: opacity 250ms ease-in;
}

.btn.create:hover{
    opacity: 0.7;
}

.new{
    background: transparent;
    bottom: 0;
    color: inherit;
    border-bottom: 1px solid currentColor;
    font-size: inherit;
    outline: none;

    transition: border-bottom 150ms ease-in;
    order: 2;
}

.new:focus{
    border-bottom-width: 3px;
}
.new:focus::placeholder{
    opacity: 0.2;
}

.new.list{
    font-size: 1.1;
}


.active-list{
    font-weight: 700;
}

.todo-list{
    --spacer: 2rem;


    grid-area: active;
    background: var(--clr-light);
    color: var(--clr-dark);

}
.todo-header{
    padding: var(--spacer);
    background: #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-title{
    margin: 0 1em 0 0;
}

.task-count{
    margin: 0;
    font-size: 1rem;

}
.todo-body{
    padding: var(--spacer);
}
[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

.task label{
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 1.5em;

}
task label::after{
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -50%;
    height: 2px;
    background: currentColor;
    opacity: 0.1;
     

}

.custom-checkbox{
    --size: .75em;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    margin-right: var(--size);
    cursor: pointer;
    border: 2px solid currentColor;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 300ms ease-in;

}
.task:hover .custom-checkbox,
[type="checkbox"]:focus +label .custom-checkbox{
    transform: scale(1.2);
    color: var(--clr-primary);

}
[type="checkbox"]:checked +label .custom-checkbox{
    background: var(--clr-primary);
    border-color: var(--clr-primary);
    box-shadow: insert 0 0 0px 4px;
}